.information{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px; 
}

.image {
	margin-bottom: 5px;
}

.image img{
	border-radius: 37.5px;
	height: 60px;
	width: 60px;
}